RewriteEngine On

# If the request is not an existing file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Internally rewrite /report -> /report.php
RewriteRule ^([^/]+)$ $1.php [L]
